<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/css/index.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="nav">
        <a href="/">
        <div class="nav-item">로고</div></a>
        <div class="nav-items-right">
            <div class="nav-item" >회원가입</div>
            <div class="nav-item">로그인</div>
        </div>
    </div>
    <div class="main">
        <h2 class="title">
            어떤 서비스가
            <br>
            필요하세요?
        </h2>
        <div class="products">
            <div class="products-item">
                <image src="/img/health.svg" width="50"></image><br>헬스
            </div>
        <div class="products-item">
            <image src="/img/yoga.svg" width="50"></image><br>요가
        </div>
        <div class="products-item">
            <image src="/img/pilates.svg" width="50"></image><br>필라테스
        </div>
        <div class="products-item">
            <image src="/img/diet.svg" width="50"></image><br>다이어트
        </div>
    </div>
</div>
</body>
</html>